@model SingleFileModel

@{
    ViewData["Title"] = "Single File Upload";

}



    <div class="row  justify-content-center">
        <div class="col-lg-8">
            <h2 class="fw-bold mb-5 text-center">@ViewData["Title"]</h2>


        <form asp-action="AddDrink" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Name">Име</label>
                        <input class="form-control" autocomplete="name" aria-required="true" asp-for="@Model.Name" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Description">Описание</label>
                        <textarea class="form-control" autocomplete="description" aria-required="true" rows="5" asp-for="@Model.Description"></textarea>

                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Calories">Калории</label>
                        <input class="form-control" autocomplete="calories" aria-required="true" asp-for="@Model.Calories" />
                        <span asp-validation-for="@Model.Calories" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Price">Цена</label>
                        <input class="form-control" autocomplete="price" aria-required="true" asp-for="@Model.Price" />
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Size">Количество в мл.</label>
                        <input class="form-control" autocomplete="price" aria-required="true" asp-for="@Model.Size" />
                        <span asp-validation-for="@Model.Size" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Image">Снимка URl</label>
                        <input class="form-control" autocomplete="price" aria-required="true" asp-for="@Model.Image" />
                        <span asp-validation-for="@Model.Image" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label asp-for="@Model.TypeId" class="form-label">Тип напитка</label>
                        <select asp-for="@Model.TypeId" class="form-control">
                            @foreach (var type in Model.DrinkTypes)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>


          @*  <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <input class="btn btn-primary" type="submit" value="Добавяне на напитка" />

                    </div>



                </div>
            </div>*@
            @if (Model.IsResponse)
            {
                if (Model.IsSuccess)
                {
                    <div class="alert alert-success">
                        @Model.Message
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        @Model.Message
                    </div>
                }
            }
            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                    <label class="col-form-label">Enter File Name For Save</label>
                    <input asp-for="FileName" class="form-control" />
                    <span asp-validation-for="FileName" class="text-danger"></span>
                </div>
            </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                    <label class="col-form-label">Select File</label>
                    <input asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            </div>


            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Upload File</button>
                </div>
            </div>
        </form>
        
   
                                </div>
                               </div>
    



