@using OnlineRestaurantMenu.Models.Product;
@model ProductModel
@{
    ViewData["Title"] = "Редактиране на напитка";
}


<div class="row  justify-content-center">
    <div class="col-lg-8">
        <h2 class="fw-bold mb-5 text-center">@ViewData["Title"]</h2>


        <form method="post">
            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Name">Име</label>
                        <input class="form-control" autocomplete="name" aria-required="true" asp-for="@Model.Name" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Description">Описание</label>
                        <textarea class="form-control" autocomplete="description" aria-required="true" rows="5" asp-for="@Model.Description"></textarea>

                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Calories">Калории</label>
                        <input class="form-control" autocomplete="calories" aria-required="true" asp-for="@Model.Calories" />
                        <span asp-validation-for="@Model.Calories" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Price">Цена</label>
                        <input class="form-control" autocomplete="price" aria-required="true" asp-for="@Model.Price" />
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Size">Количество в мл.</label>
                        <input class="form-control" autocomplete="price" aria-required="true" asp-for="@Model.Size" />
                        <span asp-validation-for="@Model.Size" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label class="form-label text-black" asp-for="@Model.Image">Снимка URl</label>
                        <input class="form-control" autocomplete="price" aria-required="true" asp-for="@Model.Image" />
                        <span asp-validation-for="@Model.Image" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <label asp-for="@Model.ProductTypeId" class="form-label">Тип напитка</label>
                        <select asp-for="@Model.ProductTypeId" class="form-control">
                            @foreach (var type in Model.ProductTypes)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row px-5">
                <div class="col-md-12 mb-4">
                    <div class=" mb-1 ">
                        <input class="btn btn-primary" type="submit" value="Редактиране на напитка" />

                    </div>
                </div>
            </div>
        </form>


    </div>
</div>




