@model IEnumerable<Food>
@{
    ViewBag.Title = "Watchlist";
}

<div class="container pb-5" style="background-color:rgb(220,220,220,0.1)">

        <div class="p-5  bg-image" style="
        background-image: url('https://i.postimg.cc/9XLYf0xf/pexels-ella-olsson-1640777.jpg');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
border-end-end-radius: 80px;
border-end-start-radius:80px;
  position: relative;
        height: 380px;"></div>

       <div class="text-center mb-2">
        <h1 class="text-black">Меню</h1>
        <button class="btn btn-primary">Храни</button>
        <button class="btn btn-primary">Напитки</button>
       </div>
    <div class="input-group px-5">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-primary">search</button>
    </div>
    <div class="row px-5 mt-3">
        @foreach (var food in Model)
        {
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="food-card">
                    <div class="food-card_img">
                        <img src="@food.Image" alt="">
                    </div>
                    <div class="food-card_content">
                        <div class="food-card_title-section">
                            <a href="#!" class="food-card_title">@food.Name</a>
                            <div class="row">
                                <div class="col text-center">

                                    <img src="~/svg/weight-svgrepo-com.svg" alt="" width="25px" height="25px" style="vertical-align: text-bottom;" />@food.Size


                                </div>
                                <div class="col text-center">
                                    <img src="~/svg/stopwatch.svg" alt="" width="25px" height="25px" style="vertical-align: text-bottom;" />@food.TimeToGet мин.
                                </div>
                                <div class="col text-center">
                                    <img src="~/svg/egg-fried.svg" alt="" width="25px" height="25px" style="vertical-align: text-bottom;" />@food.Calories Kcal
                                </div>

                            </div>
                            <p>@food.Description</p>
                        </div>
                        <div class="food-card_bottom-section">
                            @*<div class="space-between">
                        <div>
                        <span class="fa fa-fire"></span> 220 - 280 Kcal
                        </div>
                        </div>*@
                            <hr>
                            <div class="space-between">
                                <div class="food-card_price">
                                    <span>@food.Price лв.</span>
                                </div>
                                <div class="food-card_order-count">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button onclick="minus(event)" id="minus"class="btn btn-outline-secondary minus-btn" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <input id="input" value = "0" type="text" class="form-control" placeholder="">
                                        <div class="input-group-append">
                                            <button onclick="plus(event)" id="plus"  class="btn btn-outline-secondary add-btn" type="button" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success">Добави в количка</button>
                        </div>
                    </div>
                </div>
                
            </div>
        }
        
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>


 @* <!-- Source -->
    <div class="card flex-row">
        <img class="card-img-left example-card-img-responsive" src="https://images.immediate.co.uk/production/volatile/sites/30/2017/06/healthy-nicoise-09b6cd9.jpg" style="width:200px;height:200px" />
  <div class="card-body">
    <h4 class="card-title h5 h4-sm">Овчарска салата</h4>
    <p>Продукти: домати,краставици, зелен лук,печени чушки,стерелизирани гъби,шунка,сирене,яйца сварени,магданоз, маслини</p>
    <p>Грамаж: 250гр.</p>
    <p>Време за приготвяне: 30мин</p>
    <p>Калории: 250ckal</p>
    <p>Цена: 8.80лв.</p>
  </div>
</div>*@
   </div>
    <!-- Source -->
   @* <div class="card row">
        <img class="card-img-left example-card-img-responsive" src="https://images.immediate.co.uk/production/volatile/sites/30/2017/06/healthy-nicoise-09b6cd9.jpg" style="width:200px;height:200px" />
        <div class="col-10">
            <div class="card-body">
                <h4 class="card-title h5 h4-sm">Left image</h4>
                <p class="card-text">Example text</p>
            </div>
        </div>
        <div class="col-2">
            <p>цана</p>
            <p>количество</p>
            <p>купи</p>
        </div>
    </div>
    </div>*@
 